:root{
    --background-color: rgba(165, 214, 225, 0.723);
    --font-color: #514d4d;
    --main-font: "Garamond", "Times New Roman", Times, serif;
    --softorange: #F4A259;
    --tomatored: #F25C66;
    --mediumblu: #1E272D;
}

header {
    font-size: 2em;
    font-weight: 15;
    padding-left: 1em;
    padding-top: 1em;
}

.card_container {
    margin-top: 4rem;
    margin-inline: 1.2rem;
    display:flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}
.card {
    background-color: var(--background-color);
    color: var(--font-color);
    /* display: block; */
    border-radius: 3mm;
    width: 110mm;
    height: 18rem;
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 3em;
    padding: 4rem;
    justify-content: left;

}
 
.card_title {
    font-family: var(--main-font);
    font-weight: 10;
    font-size: 3.5em;
    margin: 0 auto;
    text-align: left;
    align-content: center;
    line-height: 80px;

}

/* .card:hover {
    transform: scale(1.1);
} */

.popup {
    /* visibility: hidden; */
    background-color: rgb(77, 97, 102);
    color: white;
    position: absolute;
    display: block;
    border-radius: 3mm;
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    /* margin: auto; */
    padding: 2.5rem 2rem;
    justify-content: center;
    overflow-y: auto;

}

.content {
    padding-top: 2rem;
    /* background-color: green; */

}

.italic {
    font-style: italic;
}

figure.profile-picture {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}
figure{
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    /* background-color: black; */
}

img{
    width: 47%;
    height: 100%;
    margin: auto;
    display: block;
    /* margin-right: 0.1rem; */
    margin-bottom: 1em;
    /* object-fit: cover; */
    /* border-radius: 50%; */
}

figcaption {
    font-style: italic;
    font-weight: 100;
    font-size: 1em;
    display: block;
    /* text-align: center; */
    margin: 0 auto;
}

.films figcaption {
    font-style: italic;
    font-weight: 50;
    width: 48%;
    font-size: 0.9em;
    margin: 0 auto;
}
p {
    line-height: 1.3em;
    text-align: justify;
}


.close-container{
    position: relative;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    float: right;
    margin: auto;
    width: 3%;
    height: 3%;
    text-align: center;
    /* margin-top: 100px; */
    cursor: pointer;
    z-index: 1;
}

.leftright{
    height: 4px;
    width: 2rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    /* left:10%; */
    /* margin-top: 24px; */
    background-color: var(--softorange);
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
    /* z-index: 0; */
}

.rightleft{
    height: 4px;
    width: 2rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    /* margin-top: 24px; */
    background-color: var(--softorange);
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
    /* z-index: 0; */
}

.close-container label{
    color: white;
    font-family: Helvetica, Arial, sans-serif; 
    font-size: .5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .3s ease-in;
    opacity: 0;
    z-index: -1;
    /* z-index: 0; */
}
.close{
    left: 0;
    right: 0;
    margin: 1.2rem auto 0;
    position: absolute;
}

.close-container:hover .leftright{
    transform: rotate(-45deg);
    background-color: var(--tomatored);
}
.close-container:hover .rightleft{
    transform: rotate(45deg);
    background-color: var(--tomatored);
}
.close-container:hover label{
    opacity: 1;     
}
/* education popup  */

.edu-container {
    position: relative;
    display: block;
    height: 100%;
    margin-top: 2rem;
}
.vertical-circle {
    position: absolute;
    height: 3em;
    width: 3em;
    background-color: white;
    border-radius: 50%;
    /* top: 0;
    left: 48.4%; */
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 

}
.vertical-line {
    position: absolute;
    width: 1rem;
    height: 20px;
    background-color: var(--softorange);
    top: 8%;
    /* left: 50%; */
    /* right: 50%; */
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}


.timeline {
    position: relative;
    display: block;
    /* height: auto; */
    /* background-color: red; */
    /* height: 50%; */
    /* min-height: fit-content; */
    /* overflow-y: hidden; */
    /* flex-direction: column; */
}

._2016 {
    height:10em;
}
._2017 {
    height:20em;
}
._2019 {
    height:30em;
}


.year {
    position: absolute;
    background-color: wheat;
    font-size: 3vmax;
    padding: 0.5rem;
    width: fit-content;
    height: 3vmax;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    overflow: hidden;
    /* top: 25%; */
    /* z-index: 1; */
}

._2016 .year {
    top: 40%;
}

._2017 .year {
    top: 25%;
}

._2019 .year {
    top: 17%;
}


.edbox {
    position: absolute;
    /* position: fixed; */
    /* box-sizing: content-box; */
    /* display: inline-block; */
    justify-content: center;
    margin: 2rem auto;
    padding: 1rem;
    width: 40%;
    overflow: hidden;
    top: 0;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    height: 0;
}

.ed-title {
    background-color: rgba(145, 191, 200, 0.984);
    padding: 1px 2rem;
    /* margin: 0 2rem; */
}

.ed-content {
    background-color: rgba(190, 230, 238, 0.984);
    margin-top: 1rem;
    padding: 1rem 2rem 1rem 1rem;
    height: fit-content;
    
}

ul {
    text-align: justify;
    margin: 0;
}

.contact-container {
    background-color: blueviolet;
    margin-top: 30px;
    font-size: 2rem;
}