:root{
    --background-color: rgba(165, 214, 225, 0.723);
    --font-color: #514d4d;
    --main-font: "Garamond", "Times New Roman", Times, serif;
}

body {
    /* display: flex; */
}
header {
    font-size: 2em;
    font-weight: 15;
    padding-left: 1em;
    padding-top: 1em;
}

.card_container {
    margin-top: 4rem;
    margin-inline: 1.2rem;
    display:flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}
.card {
    background-color: var(--background-color);
    color: var(--font-color);
    /* display: block; */
    border-radius: 3mm;
    width: 110mm;
    height: 18rem;
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 3em;
    padding: 4rem;
    justify-content: left;

}
 
.card_title {
    font-family: var(--main-font);
    font-weight: 10;
    font-size: 3.5em;
    margin: 0 auto;
    text-align: left;
    align-content: center;
    line-height: 80px;

}

/* .card:hover {
    transform: scale(1.1);
} */

.popup {
    visibility: hidden;
    background-color: rgb(77, 97, 102);
    color: white;
    position: absolute;
    display: block;
    border-radius: 3mm;
    width: 80%;
    height: 80%;
    box-sizing: border-box;
    /* margin: auto; */
    padding: 4rem;
    justify-content: center;
    overflow-y: auto;

}

.profile-picture{
    max-width: 100%;
    /* max-height: 3rem; */
    text-align: center;
    /* background-color: black; */
}

.profile-picture img{
    width: 70%;
    height: 100%;
    margin: auto;
    display: block;
    margin-bottom: 1em;
    /* object-fit: cover; */
    /* border-radius: 50%; */
}

figcaption {
    font-style: italic;
    font-weight: 100;
    font-size: 1em;
    /* font-weight: 10;
    font-family: var(--main-font);
    margin: 0 auto;
    text-align: center;
    align-content: center;
    line-height: 80px; */
}

p {
    line-height: 1.3em;
    text-align: justify;
}