<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>zatyhan's space</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="../static/script.js"></script>
</head>
<body>
    <header> 
        <!-- zatyhan's space <span class="blink">|</span> -->
    </header>
    <div class="card_container">
        <div id="profile" class="card">
            <h1 class="card_title">profile</h1>
        </div>
        <div id="education" class="card">
            <h1 class="card_title">education</h1>
        </div>
        <div id="skills" class="card">
            <h1 class="card_title">skills</h1>
        </div>
        <div id="projects" class="card">
            <h1 class="card_title">projects</h1>
        </div>
        <div id="contact-info" class="card">
            <h1 class="card_title">contact me</h1>
        </div>
        <div id="placeholder" class="card">
            <h1 class="card_title">contact me</h1>
        </div>
        <div class="profile popup">
            <div class="close-container">
                <!-- <h1> hi</h1> -->
                <div class="leftright"></div>
                <div class="rightleft"></div>
                <label class="close">close</label>
              </div>
            <div class="content">
                <h1>hi, I'm Eizzaty. </h1>
                <p style="padding-top: 2rem;">Born and raised in Malaysia. Genetically petite but filled with ambitions. I went to a Chinese kindergarten but with naught of the language retained as I soon moved to Malay speaking school and wish I could still speak Mandarin. 
                The younger of the pair of siblings, and a daughter to an economic lecturer, hence I'm inherently able to and love teaching. I moved across country from Seremban to Pekan, Pahang for my boarding school and flew across continent to Europe for my tertiary education, now I'm yet still caught in the whirlwind of adulting. 
                </p>
                <figure class="profile-picture">
                    <img src="../assets/IMG_4522.JPG" alt="profile picture">
                    <figcaption>Picnic in the Hyde Park filmed on 35mm Ilford HP5 Plus using Olympus MJU-II, 2022.</figcaption>
                </figure>
                <p>
                Currently a recent biomedical engineering graduate from Imperial College London aspiring to be a full-stack software engineer with keen interest in machine learning. 
                I started coding when I was 19 after being influenced by a genius friend who had a sick setup and looked cool while coding, so I gave it a go. 
                Coincidentally, I started to undertake a programming module in my first year and went down into the rabbit hole of programming and all the possibilities it gives to digitize and automate the things I do daily. 
                </p>
                <br>
                <h2>The less nerdy Eizzaty</h2>
                <p>Outside books and codes, I play a handful of sports. I grew up doing taekwondo competitively from the age of 7 to 20 and I was a university athlete for frisbee. I'm still on the lookout for new sports to enjoy, though. 
                    <br>
                    <br>
                    My other hobbies are rather expensive <span>&#8212;</span> film photography and an avid perfume collector. 
                    <br>
                    <br>
                    I started with polaroid films in high school and fully transitioned to 35mm film when I came to the UK. The one-shot-one-kill filming style, and the wait for the film to be developed, and the surprise of the outcome is what I find to be exhilarating. 
                    <figure class="films">
                        <img src="../assets/budapest.jpeg" alt="profile picture">
                        <img src="../assets/cornwall.jpeg" alt="profile picture">
                        <figcaption>Favourite shot:  Memorial monument to Tisza Istvan filmed on 35mm Ilford HP5 Plus using Olympus MJU-II, 2022.</figcaption>
                        <figcaption>Me and my bestfriend at Land's End, experimenting filming on expired film using Olympus MJU-II, 2022.</figcaption>
                    </figure>
                    
                    <br>
                </p>
            </div>

        </div>
        <div class="education popup">
            <div class="close-container">
                <div class="leftright"></div>
                <div class="rightleft"></div>
                <label class="close">close</label>
            </div>
            <div class="vertical-line"></div>
            <div class="vertical-circle"></div>
            <div class="edu-container" >
                <div class="timeline _2016" >
                    <div class="year">2016</div>
                    <div class="edbox hs1" style="margin-left: 55%">
                        <div class="ed-title">
                            <h2>MRSM Tun Abdul Razak</h2>
                            <h3>IGCSE 5A*       SPM 9A</h3>
                        </div>
                    </div>
                </div>
                <div class="timeline _2017" >
                    <div class="year">2017</div>
                    <div class="edbox college" style="margin-right: 55%;">
                        <div class="ed-title">
                            <h2>MARA College Seremban</h2>
                            <h3>A-levels, 3A*</h3>
                        </div>
                        <div class="ed-content">
                            <ul>
                                <li>Subjects: Mathematics (98%), Chemistry (95%), Physics (92%)</li>
                                <li>Recipient of the Academic Excellence Award and the Highest Achiever in Chemistry</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="timeline _2019" >
                    <div class="year">2019</div>
                    <div class="edbox university" style="margin-left: 55%; ">
                        <div class="ed-title">
                            <h2>Imperial College London</h3>
                            <h3>MEng Biomedical Engineering, First Class Honours</h3>
                        </div>
                        <div class="ed-content">
                            <ul>
                                <li>Majoring in Computational Bioengineering</li>
                                <li>Relevant modules: Mathematics, Programming, Probability and Statistics, Artificial Intelligence, Digital Biosignal
                                    Processing, Image Processing, Electronics and Electromagnetics, Thermodynamics, Signals and Control, Fluid and
                                    Solid Mechanics, Modelling in Biology, Principles in Biomedical Imaging, Medical Device Entrepreneurship</li>
                                <li>Fully funded by MARA Skim Pelajar Cemerlang (Excellence Student Scheme)</li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
            
        </div>
             
        <div class="skills popup">
            <div class="close-container">
                <div class="leftright"></div>
                <div class="rightleft"></div>
                <label class="close">close</label>
            </div>
        </div>

        <div class="projects popup">
            <div class="close-container">
                <div class="leftright"></div>
                <div class="rightleft"></div>
                <label class="close">close</label>
            </div>
        </div>
        <div class="contact-info popup">
            <div class="close-container">
                <div class="leftright"></div>
                <div class="rightleft"></div>
                <label class="close">close</label>
            </div>

            <div class="contact-container">
                <div class="header-1">
                    i'm reachable on
                </div>
                <div class="social-media">
                    <a href="https://www.linkedin.com/in/nureizzaty/" target="_blank">
                        <img src="../assets/linkedin.png" style="aspect-ratio: 1/1;" alt="linkedin">
                    </a>
                    <a href="https://www.x.com/nureizzatyyy/" target="_blank">
                        <img src="../assets/twitter.png" alt="linkedin">
                    </a>
                </div>
            </div>
        </div>
             
        </div>
    </div>
    
    <script src="script.js"></script>
</body>
</html>