<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>zatyhan's space</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../static/script.js"></script>
</head>
<body>
    <header> 
        zatyhan's space
    </header>
    <div class="card_container">
        <div id="profile" class="card">
            <h1 class="card_title">profile</h1>
        </div>
        <div id="education" class="card">
            <h1 class="card_title">education</h1>
        </div>
        <div id="skills" class="card">
            <h1 class="card_title">skills</h1>
        </div>
        <div id="projects" class="card">
            <h1 class="card_title">projects</h1>
        </div>
        <div id="contact-info" class="card">
            <h1 class="card_title">contact me</h1>
        </div>
        <div id="contact-info" class="card">
            <h1 class="card_title">contact me</h1>
        </div>
        <div class="profile popup">
            <!-- <div> -->
                <h1>hi, I'm Eizzaty. </h1>
                <p>Born and raised in Malaysia. Genetically petite but filled with ambitions. I went to a Chinese kindergarten but with naught of the language retained as I soon moved to Malay speaking school and wish I could still speak Mandarin. 
                The younger of the pair of siblings, and a daughter to an economic lecturer, hence I'm inherently able to and love teaching. I moved across country from Seremban to Pekan, Pahang for my boarding school and flew across continent to Europe for my tertiary education, now I'm yet still caught in the whirlwind of adulting. 
                </p>
                <figure class="profile-picture">
                    <img src="../assets/IMG_4522.JPG" alt="profile picture">
                    <figcaption>Picnic in the Hyde Park filmed on 35mm Ilford HP5 Plus using Olympus MJU-II, 2022.</figcaption>
                </figure>
                <p>
                Currently recent biomedical engineer graduate aspiring to be a full-stack software engineer with keen interest in machine learning. 
                I started coding when I was 19 after being influenced by a genius friend who had a sick setup and looked cool while coding, so I gave it a go. 
                Coincidentally, I started to undertake a programming module in my first year and went down into the rabbit hole of programming and all the possibilities it gives to digitize and automate the things I do daily. 
                </p>
            <!-- </div> -->
             <br>
             <h2>The less nerdy Eizzaty</h2>
             <p>Outside books and codes, I play a handful of sports. I grew up doing taekwondo competitively from the age of 7 to 20 and I was a university athlete for frisbee. I'm still on the lookout for new sports to enjoy, though. 
                <br>
                <br>
                My other hobbies are rather expensive <span>&#8212;</span> film photography and an avid perfume collector. 
                   <br>
                   <br>
               I started with polaroid films in high school and fully transitioned to 35mm film when I came to the UK. The one-shot-one-kill filming style, and the wait for the film to be developed, and the surprise of the outcome is what I find to be exhilarating. 
            </p>
             
        </div>
    </div>
    
    <script src="script.js"></script>
</body>
</html>